@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* Start your base/mobile styles here */

button {
  cursor: pointer;
  border: solid 3px #FA3909;
  background-color: #F2994E;
  outline: none;
  margin: 5px;
  padding: 5px;
  width: 90px;
  font-family: 'Vollkorn', serif;
}

.state {
  display: inline-block;
  border: solid 3px #C5C10D;
  background-color: #F1EF93;
  margin: 3px;
  margin-left: 10px;
  padding: 5px;
  width: 35px;
  text-align: center;
  font-family: 'Vollkorn', serif;
  font-weight: bold;
}

#final {
  display: inline-block;
  border: solid 3px #ddd;
  margin: 5px;
  padding: 5px;
  width: 70px;
}

.bigcontainer {
  margin: 5px;
  margin-left: 30px;
  padding: 5px;
}

.smallcontainer {
  margin-left: 15px
}

/* Tablet/Desktop overrides */

@media(min-width: 681px) {
  /* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
  .item {
    width: 33%;
    min-height: 310px;
  }
  select {
    width: 33%;
  }
}

@media(min-width: 729px) {
  /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */
}